repos:
    - repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/timothycrosley/isort
      rev: 5.5.4
      hooks:
          - id: isort
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
          - id: flake8
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: check-added-large-files
          - id: trailing-whitespace
          - id: debug-statements
