language: python
sudo: false
python:
- '2.7'
- '3.5'
- '3.6'
addons:
  apt:
    packages:
    - pandoc
    - libffi-dev
    - libffi6
install:
- cp requirements.txt ~/ && pushd ~/
- pip install -r requirements.txt -q && rm requirements.txt && popd
script:
- python setup.py build_ext --inplace
- coverage run --source pandas_plink -m pytest
- python setup.py install && pip uninstall pandas-plink --yes
- python setup.py sdist
- pip install dist/$(ls dist | grep -i -E '\.(gz)$' | head -1)
- pip uninstall pandas-plink --yes
after_success:
- codecov
notifications:
  email:
    recipients:
      - danilo.horta@gmail.com
    on_success: never
    on_failure: always
