brent-search>=1.0.29
cffi
codecov>=2.0.9
dask>=0.16
ndarray-listener>=1.0.26
numpy>=1.13.3
pandas>=0.22
pypandoc>=1.4
pytest-gitignore>=1.3
pytest-pep8>=1.0.6
pytest-runner>=3.0
pytest>=3.2.5
setuptools>=36.5.0
sphinx_rtd_theme>=0.2.4
toolz>=0.9.0
tqdm>=4.15
