cffi>=1.11.4
dask>=0.16.1
numpy>=1.14.0
pandas>=0.22
pypandoc>=1.4
pytest-pep8>=1.0.6
pytest-runner>=3.0
pytest>=3.3.2
setuptools>=38.4.0
sphinx_rtd_theme>=0.2.4
toolz>=0.9.0
tqdm>=4.19.5
sphinx>=1.6.6
